.box {
  background-color: black;
  margin: 2rem auto;
  width: 400px;
  height: 400px;
  border: thick solid red;
}

.border-radius {
  border-radius: 2rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-radius: 2rem 4rem;
  border-radius: 2rem 4rem 0;
  border-radius: 4rem 3rem 2rem 1rem;
  border-radius: 2rem;
}

.border-radius-2 {
  border-radius: 2rem / 4rem;
  border-radius: 2rem 4rem / 4rem 8rem;
}

.border-radius-3 {
  border-radius: 50%;
}

.border-radius-4 {
  width: 400px;
  height: 200px;
  width: 200px;
  height: 400px;
  border-radius: 50%;
}

.outline {
  color: white;
  text-align: center;
  outline-width: 5px;
  outline-style: dashed;
  outline-color: chartreuse;
  outline: thick solid blue;
  /* border-width: 100px; */
  /* outline-width: 100px; */
  outline-offset: 3rem;
  outline-offset: -3rem;
}
